@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CaviarDreams';
    src: url('../public/fonts/CaviarDreams_BoldItalic.ttf');
}

@font-face {
    font-family: 'GameOfSquids';
    src: url('../public/fonts/GameOfSquids.ttf');
}

* {
    --primary-color: #00E676;
    --shadow-color: #171717;
    --text-glow-color: #00B0FF;
}

::selection {
    color: black;
    background-color: var(--primary-color);
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: darkslategrey;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

.grid-custom {
    display: grid;
    grid-template-rows: 0.15fr 1fr 0.20fr;
}

.text-shadow-custom {
    text-shadow: 5px 5px 5px var(--shadow-color);
}
.text-deep-shadow-custom {
    text-shadow:
    -1px -1px 10px var(--shadow-color),  
    1px -1px 10px var(--shadow-color),
    -1px 1px 10px var(--shadow-color),
    1px 1px 10px var(--shadow-color);
}
.box-shadow-custom {
    box-shadow: 1px 1px 10px 1px var(--shadow-color);
}
.image-shadow-custom {
    filter: drop-shadow(3px 3px 1px var(--shadow-color));
}
.remove-shadows-custom {
    text-shadow: none;
    box-shadow: none;
    filter: drop-shadow(none);
}
  
.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.loader:before, .loader:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem rgba(0, 230, 118, 0.75));
}
.loader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1rem var(--primary-color);
    animation-name: pulsIn;
}
.loader:after {
    width: calc(100% - 2rem);
    padding-bottom: calc(100% - 2rem);
    box-shadow: 0 0 0 0 var(--primary-color);
}
@keyframes pulsIn {
    0% {
      box-shadow: inset 0 0 0 1rem var(--primary-color);
      opacity: 1;
    }
	
	50%, 100% {
      box-shadow: inset 0 0 0 0 var(--primary-color);
      opacity: 0;
    }
}
@keyframes pulsOut {
    0%, 50% {
      box-shadow: 0 0 0 0 var(--primary-color);
      opacity: 0;
    }
    
	100% {
      box-shadow: 0 0 0 1rem var(--primary-color);
      opacity: 1;
    }
}

.glowingText {
    animation: textGlow 2s ease-in-out infinite;
}
@keyframes textGlow {
    0% {
      text-shadow: 0 0 1px var(--text-glow-color), 0 0 2px var(--text-glow-color),
      0 0 3px var(--text-glow-color), 0 0 4px var(--text-glow-color), 0 0 5px var(--text-glow-color);
    }
    50% {
        text-shadow: 0 0 3px var(--text-glow-color), 0 0 4px var(--text-glow-color),
        0 0 5px var(--text-glow-color), 0 0 5px var(--text-glow-color), 0 0 6px var(--text-glow-color);
    }
    100% {
        text-shadow: 0 0 1px var(--text-glow-color), 0 0 2px var(--text-glow-color),
        0 0 3px var(--text-glow-color), 0 0 4px var(--text-glow-color), 0 0 5px var(--text-glow-color);
      }
  }
