@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CaviarDreams';
    src: url('../public/fonts/CaviarDreams_BoldItalic.ttf');
}

@font-face {
    font-family: 'GameOfSquids';
    src: url('../public/fonts/GameOfSquids.ttf');
}
