* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'CaviarDreams';
    src: url('/fonts/CaviarDreams_BoldItalic.ttf');
}

@font-face {
    font-family: 'GameOfSquids';
    src: url('/fonts/GameOfSquids.ttf');
}
